.page-footer {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 40px;
  padding-bottom: 25px;
}

.page-footer__hashtag {
  text-align: center;
  margin-bottom: 40px;
}

.page-footer__social {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

.page-footer__copyright {
  @include reset-mar-pad;
  text-align: center;

}


/*************************************
 * tablet styles
 *************************************/
@media (min-width: $tablet-width) {
  .page-footer {
    width: $tablet-width;
    margin: 0 auto;
    background-color: $white;
    padding: 40px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .page-footer__hashtag {
    margin: 0;
  }

  .page-footer__social {
    margin: 0;
  }
}

/*************************************
 * desktop styles
 *************************************/
@media (min-width: $desktop-width) {
  .page-footer {
    width: $desktop-width;
    padding-left: 120px;
    padding-right: 120px;
  }
}
