.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
}

.copyright__text {
  margin-right: 11px;
  text-transform: uppercase;
}

.copyright__icon-htmlacademy {

  &:hover,
  &:focus {
    fill: $light-grey-blue;
  }

  &:active {
    opacity: 0.3;
  }
}

.copyright__icon-htmlacademy {
  display: block;
  fill: $black;
}
