.promo {
  background-color: $white;
  background-image: url("../img/bg-intro-triangle-mobile.svg"),
    url('../img/bg-back-mobile@1x.jpg');
  background-repeat: no-repeat, no-repeat;
  background-position: bottom, center top;
  background-size: auto, cover;
  height: 390px;

  &--inner {
    height: 158px;
    background-size: auto, auto;
    background-position: left bottom, left bottom;
  }
}

.promo__wrapper {
  text-align: center;
  padding-top: 90px;

  &--inner {
    padding-top: 52px;
  }
}

/*************************************
* Tablet styles
*************************************/
@media (min-width: $tablet-width) {
  .promo {
    background-color: $white;
    background-image: url("../img/bg-intro-triangle-tablet.svg"),
      url('../img/bg-back-tablet@1x.jpg');
    background-repeat: no-repeat, no-repeat;
    background-position: 50% 100%, center top;
    background-size: auto, cover;
    height: 518px;

    &--inner {
      height: 290px;
      background-position: left bottom, left bottom;
      background-size: contain, cover;
    }
  }

  .promo__text-image {
    width: 460px;
  }

  .promo__wrapper {
    padding-top: 77px;

    &--inner {
      padding-top: 100px;
    }
  }
}

/*************************************
* desktop styles
*************************************/
@media (min-width: $desktop-width) {
  .promo {
    width: $desktop-width;
    margin: 0 auto;
    background-image: url("../img/bg-intro-triangle-desktop.svg"),
      url('../img/bg-back-desktop@1x.jpg');
    background-repeat: no-repeat, no-repeat;
    background-position: bottom, center top;
    background-size: auto, cover;
    height: 518px;

    &--inner {
      height: 300px;
      background-position: left bottom, left bottom;
      background-size: contain, cover;
    }
  }

  .promo__wrapper {

    &--inner {
      padding-top: 95px;
    }
  }

}
