.main {
  display: block;
  background-color: $main-bg-color;
}



/*************************************
* desktop styles
*************************************/
@media (min-width: $desktop-width) {
  .main {
    max-width: $desktop-width;
    margin: 0 auto;
  }
}
