.button {
  display: block;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;

  font-size: 18px;
  line-height: 18px;
  text-align: center;
  color: $white;
  text-transform: uppercase;
  text-decoration: none;

  background-color: $light-grey-blue;
  border: 0;

  &:hover,
  &:focus {
    background-color: $faded-blue;
  }

  &:active {
    color: rgba($white, 0.3);

    background-color: $cool-blue;
  }
}

/*************************************
* tablet styles
*************************************/
@media (min-width: $tablet-width) {
  .button {
    &--review {
      width: 324px;
    }
  }
}

/*************************************
* desktop styles
*************************************/
@media (min-width: $desktop-width) {
  .button {
    &--review {
      width: 480px;
    }
  }
}
