.page-header {
  background-color: $white;
  position: relative;
  margin: 0 auto;
}

.page-header__open-nav-button {
  @include reset-button;
  position: relative;

  width: 23px;
  height: 23px;
  margin-right: 20px;
}

.page-header__open-nav-button::before {
  content: "";
  position: absolute;
  top: 1px;
  left: 0;

  width: 23px;
  height: 4px;

  background-color: $light-grey-blue;
  box-shadow: 0 8px 0 0 $light-grey-blue, 0 16px 0 0 $light-grey-blue;
}

.page-header__logo {
  position: absolute;
  left: 50%;
  z-index: 2;

  margin-left: -51px;
}

.page-header__logo-image {
  width: 102px;
  height: 83px;
}

.page-header__menu-bar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 56px;
}

/*************************************
* Tablet styles
*************************************/
@media (min-width: $tablet-width) {
  .page-header {
    width: 768px;
  }

  .page-header__menu-bar {
    display: none;
  }

  .page-header__logo {
    top: 0;
  }
}

/*************************************
* desktop styles
*************************************/
@media (min-width: $desktop-width) {
  .page-header {
    width: $desktop-width;
  }

  .page-header__logo {
    margin-left: -93.5px;
  }

  .page-header__logo-image {
    width: 187px;
    height: 96px;
  }

}
