.menu {
  @include reset-list;
}

.menu__item:first-child a {
  border-top: none;
}

.menu__item:last-child a {
  border-bottom: none;
}

.menu__link:not([href]) {

  &:hover,
  &:focus {
    background-color: $light-grey-blue;
  }
}

.menu__link {
  @extend .button;
  border-top: 1px solid rgba($white, 0.2);
  border-bottom: 1px solid rgba($black, 0.2);
}

/*************************************
* Tablet styles
*************************************/
@media (min-width: $tablet-width) {
  .menu {
    display: flex;
  }

  .menu__item--spacer {
    flex-grow: 1;
  }

  .menu__link {
    border: none;
    width: 153px;
    font-size: 14px;
    font-weight: bold;
    color: $black;
    background-color: $white;

    &:hover,
    &:focus {
      color: $light-grey-blue;
      background-color: $white;
    }

    &:active {
      color: rgba($black, 0.3);

      background-color: $white;
    }
  }

  .menu__link:not([href]) {
    color: $greyish-brown;

    &:hover,
    &:focus {
      color: $kabul;
    }

    &:active {
      color: rgba($greyish-brown, 0.3);
    }
  }

  .menu__link:not([href]) {

    &:hover,
    &:focus {
      background: none;
    }
  }
}

/*************************************
* desktop styles
*************************************/
@media (min-width: $desktop-width) {
  .menu__link {
    width: 240px;
  }
}
