.feedback__form {
  display: flex;
  flex-direction: column;
}

.form__container {
  padding: 20px;
  padding-bottom: 30px;

  border-top: 1px solid $gray-iron;
}

.form__fieldset {

  border: 0;

  &--review {
    margin-bottom: 50px;
  }
}

.form__legend {
  margin: 0 auto;
  margin-bottom: 20px;

  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;

  &--contacts {
    margin-bottom: 25px;
  }

  &--sights {
    text-align: center;
  }
}

.form__group {

  display: flex;
  align-items: center;
  margin-bottom: 20px;

  &--column {
    flex-direction: column;
    align-items: flex-start;
  }
}

.form__label {
  margin-right: 15px;

  line-height: 26px;
  color: $black-shaft;
  text-transform: uppercase;

  &--padding {
    margin-bottom: 10px;
    margin-left: 22px;
  }
}

.form__input-icon-group {
  display: flex;
  width: 100%;
}

.form__input {
  width: 100%;
  min-width: 0;
  padding: 20px;

  font-weight: bold;
  font-size: 18px;

  background-color: $gray-concrete;
  border: none;

  &--textarea {
    min-height: 160px;
    resize: none;
  }

  &::placeholder {
    color: $black;
  }

  &:hover {
    background-color: $gray-mercury-e5;
  }

  &:focus {
    background-color: $white;
    border: 4px solid $gray-mercury-e5;
    padding: 16px;
  }
}

.form__icon {
  min-width: 58px;

  background-color: $gray-mercury-e5;
  background-repeat: no-repeat;
  background-position: center;

  &--telephone {
    background-image: url("../img/icon-phone.svg");
  }

  &--email {
    background-image: url("../img/icon-mail.svg");
  }
}

.form__error-message {
  display: none;
}

.form__selectors-wrapper {
  display: flex;
  flex-direction: column;
}

.form__selector-label {
  position: relative;

  display: flex;
  align-items: center;
  margin-bottom: 20px;

  font-weight: bold;
  font-size: 18px;
  line-height: 26px;

}

.form__selector-indicator {
  position: relative;

  display: block;
  width: 56px;
  height: 56px;
  margin-right: 22px;

  background-color: $gray-concrete;

  &--radio {
    border-radius: 50%;
  }

  &--checkbox {
    border-radius: 5px;
  }

  &:active {
    background-color: $gray-iron;
    border: 1px solid $gray-iron;
  }
}

.form__selector:hover+.form__selector-indicator,
.form__selector:focus+.form__selector-indicator {
  background-color: $gray-mercury-e5;
}

.form__selector--radio:checked+.form__selector-indicator::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  display: block;
  width: 22px;
  height: 22px;
  margin-top: -11px;
  margin-left: -11px;

  background-color: $black-shaft;
  border-radius: 50%;
}

.form__selector--radio:checked+.form__selector-indicator:active::before {
  opacity: 0.3;
}

.form__selector--checkbox:checked+.form__selector-indicator::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  display: block;
  width: 24px;
  height: 16px;
  margin-top: -8px;
  margin-left: -12px;

  background: url("../img/icon-tick.svg") no-repeat;
}

.form__selector--checkbox:checked+.form__selector-indicator:active::before {
  opacity: 0.3;
}

/*************************************
 * tablet styles
 *************************************/
@media (min-width: $tablet-width) {

  .feedback__form {
    flex-direction: row;
    flex-wrap: wrap;
    padding-bottom: 55px;
  }

  .form__container {
    padding: 0;
    border-top: 0;
  }

  .form__container {



    &--fullname {
      position: relative;
      order: 1;
      width: 280px;
      // padding-left: 54px;


    }

    &--communication {
      // padding-top: 50px;
      order: 2;
      width: 280px;

      &::before {
        position: absolute;
        content: "";
        height: 1px;
        width: 310px;
        background-color: $gray-mercury-e5;
        transform: rotate(90deg);
        transform-origin: left;
        top: 0;
        left: 0;
      }

    }

    &--impression {
      order: 3;
      width: 100%;
    }

    &--sights {
      padding-top: 36px;
      order: 4;
      width: 100%;
    }

    &--review {
      padding-top: 50px;
      order: 5;
      width: 100%;
    }

    &--button {
      padding-top: 55px;
      order: 6;
      display: flex;
      justify-content: space-between;
      width: 100%;
      color: $black-shaft;
    }
  }

  .form__selector-label-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .form__legend {
    margin-bottom: 60px;
    font-size: 21px;
    width: 100%;

    &--fullname {
      margin-left: 0;
    }

    &--communication {
      position: relative;
      margin-bottom: 30px;
      padding-left: 20px;
      padding-right: 20px;
      text-align: center;
    }

    &--impression {
      // margin-left: 0;
      position: relative;
      margin-bottom: 30px;
      padding-left: 20px;
      padding-right: 20px;
      text-align: center;

            &::before {
              position: absolute;
              content: "";
              height: 1px;
              width: 125px;
              flex-grow: 1;
              flex-shrink: 0;
              background: $gray-mercury-e5;
              top: 50%;
              left: 0;
            }

            &::after {
              position: absolute;
              content: "";
              height: 1px;
              width: 125px;
              flex-grow: 1;
              flex-shrink: 0;
              background: $gray-mercury-e5;
              top: 50%;
              right: 0;
            }


    }

    &--sights {
      position: relative;
      margin-bottom: 45px;

      &::before {
        position: absolute;
        content: "";
        height: 1px;
        width: 125px;
        flex-grow: 1;
        flex-shrink: 0;
        background: $gray-mercury-e5;
        top: 50%;
        left: 0;
      }

      &::after {
        position: absolute;
        content: "";
        height: 1px;
        width: 125px;
        flex-grow: 1;
        flex-shrink: 0;
        background: $gray-mercury-e5;
        top: 50%;
        right: 0;
      }
    }

    &--review {
      position: relative;
      text-align: center;

      &::before {
        position: absolute;
        content: "";
        height: 1px;
        width: 125px;
        flex-grow: 1;
        flex-shrink: 0;
        background: $gray-mercury-e5;
        top: 50%;
        left: 0;
      }

      &::after {
        position: absolute;
        content: "";
        height: 1px;
        width: 125px;
        flex-grow: 1;
        flex-shrink: 0;
        background: $gray-mercury-e5;
        top: 50%;
        right: 0;
      }
    }
  }

  .form__legend-fixed-content {
    display: inline-block;
    width: 300px;
  }

  .form__selector-label {

    &--impression {
      margin-bottom: 26px;
    }

    &--sights {
      width: 230px;
    }
  }

  .form__selectors-wrapper {
    flex-direction: row;
    flex-wrap: wrap;
    width: 460px;
    margin: 0 auto;
    justify-content: space-between;
  }

}

/*************************************
 * desktop styles
 *************************************/
@media (min-width: $desktop-width) {

  .form__container {
    &--fullname {
      width: 402px;
    }

    &--impression {
      width: 100%;
      padding-left: 80px;
    }
  }

  // .form__container {
  //   &:nth-child(1) {
  //     order: 0;
  //   }

  //   &:nth-child(2) {
  //     order: 1;
  //   }

  //   &:nth-child(3) {
  //     order: 2;
  //   }

  //   &:nth-child(4) {
  //     order: 4;
  //   }

  //   &:nth-child(5) {
  //     order: 5;
  //   }

  //   &:nth-child(6) {
  //     order: 6;
  //   }

  //   &:nth-child(7) {
  //     order: 7;
  //   }

  //   &:nth-child(8) {
  //     order: 8;
  //   }
  // }

  .form__label-hidden {
    display: none;
  }

  .form__group-wrapper {
    display: flex;
    // justify-content: space-between;
    flex-direction: column;

  }

  .form__group {
    align-items: center;

    &--column {
      flex-direction: row;
    }

    &--phone {
      width: 400px;
    }

    &--email {
      width: 480px;
    }
  }

  .form__label {
    &--padding {
      margin-left: 0;
    }
  }

  .form__legend {
    &--communication {
      margin-bottom: 60px;

      &::before {
        width: 280px;
      }

      &::after {
        width: 280px;
      }
    }

    &--sights {
      &::before {
        width: 280px;
      }

      &::after {
        width: 280px;
      }
    }

    &--review {
      &::before {
        width: 280px;
      }

      &::after {
        width: 280px;
      }
    }
  }

  .form__selectors-wrapper {
    flex-direction: row;
    width: 100%;
  }
}
