.feedback-header {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 40px;
  padding-bottom: 30px;
  text-align: center;
}

.feedback-header__title {
  margin-bottom: 35px;

  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
}

.feedback-header__description {

  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
}

/*************************************
* tablet styles
*************************************/
@media (min-width: $tablet-width) {

  .feedback-header {
    padding: 0;
    padding-top: 70px;
    padding-bottom: 70px;
  }

  .feedback-header__title {
    font-size: 30px;
  }

  .feedback-header__description {
    padding: 0 105px;
  }
}

/*************************************
* desktop styles
*************************************/
@media (min-width: $desktop-width) {

  .feedback {
    width: 100%;
  }

  .feedback-header {
    padding-left: 120px;
    padding-right: 120px;
  }

  .feedback-header__description {
    padding: 0 260px;
  }
}

/*************************************
* desktop styles
*************************************/
@media (min-width: $desktop-width) {

  .feedback-header {
    padding-left: 0;
    padding-right: 0;
  }

}
