.reasons__list {
  @include reset-list;
  display: flex;
  flex-direction: column;
}

.reasons__item {
  &:nth-child(1) {
    order: 1;
  }

  &:nth-child(2) {
    order: 2;
  }

  &:nth-child(3) {
    order: 3;
  }

  &:nth-child(4) {
    order: 4;
  }

  &:nth-child(5) {
    order: 5;
  }

  &:nth-child(6) {
    order: 6;
  }

  &:nth-child(7) {
    order: 7;
  }

  &:nth-child(8) {
    order: 8;
  }
}

/*************************************
 * tablet styles
 *************************************/
@media (min-width: $tablet-width) {

  .reasons__list {
    flex-direction: row;
    flex-wrap: wrap;
    width: $tablet-width;
    margin: 0 auto;
  }

  .reasons__item {
    &:nth-child(7) {
      order: 4;
    }

    &:nth-child(8) {
      order: 3;
    }

    &--invert {
      flex-direction: row-reverse;
    }
  }
}

/*************************************
 * desktop styles
 *************************************/
@media (min-width: $desktop-width) {
  .reasons {
    width: $desktop-width;
    margin: 0 auto;
  }

  .reasons__list {
    width: $desktop-width;
  }
}
