.map {
  position: relative;
  margin: 0 auto;
  height: 350px;
  overflow: hidden;
}

.map__picture {
  display: block;
  width: 100%;

  // object-fit: cover;
}

/*************************************
 * tablet styles
 *************************************/
@media (min-width: $tablet-width) {
  .map {
    width: $tablet-width;
  }

  .map__picture {
    width: $tablet-width;
    margin: 0 auto;
  }
}

/*************************************
 * desktop styles
 *************************************/
@media (min-width: $desktop-width) {
  .map {
    width: $desktop-width;
  }

  .map__picture {
    width: $desktop-width;
  }
}
