.reasons-header {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 40px;
  padding-bottom: 30px;
  text-align: center;
}

.reasons-header__title {
  margin-bottom: 35px;

  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
}

.reasons-header__description {

  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
}

/*************************************
* tablet styles
*************************************/
@media (min-width: $tablet-width) {
  .reasons-header {
    width: 490px;
    margin: 0 auto;
    text-align: center;
    padding: 50px 0;

  }
}
