.reason__info {

  &--blue {
    text-align: center;
    color: $white;

    background-color: $light-grey-blue;
  }

  &--gray {
    text-align: center;

    background-color: $gray-gallery;
  }

  &--triangle {
    background-image: url("../img/bg-triangle.svg");
    background-repeat: no-repeat;
    background-size: auto;
    background-size: contain;


    padding-top: calc((37/320)*100%);

  }
}

.reason__info-wrapper {

  padding-left: 20px;
  padding-right: 20px;
  padding: 45px 20px;

  &--gray {
    padding-top: 30px;
    padding-bottom: 30px;

    border-bottom: 1px solid $gray-iron;
  }

  &--white {
    padding-left: 70px;
  }
}

.reason__title {
  @include reset-mar-pad;

  position: relative;

  margin-bottom: 15px;
  padding: 0 20px;

  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;

  &--black {
    color: $black;
  }

  &--house {
    &::before {
      content: "";
      position: absolute;
      top: -10px;
      left: -46px;

      width: 37px;
      height: 36px;

      background-image: url("../img/icons/icon-house.svg");
      background-repeat: no-repeat;
      background-size: cover;
    }
  }

  &--gift {
    &::before {
      content: "";
      position: absolute;
      top: -11px;
      left: -41px;

      width: 32px;
      height: 38px;

      background-image: url("../img/icons/icon-gift.svg");
      background-repeat: no-repeat;
      background-size: cover;
    }
  }

  &--food {
    &::before {
      content: "";
      position: absolute;
      top: -5px;
      left: -47px;

      width: 38px;
      height: 34px;

      background-image: url("../img/icons/icon-burger.svg");
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
}

.reason__number-wrapper {
  margin-bottom: 25px;
}

.reason__number {
  position: relative;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 50%;

    width: 9px;
    height: 2px;
    margin-top: -1px;

    background-color: $black-shaft;
  }

  &::before {
    left: -15px;
  }

  &::after {
    right: -15px;
  }

  &--white {

    &::before,
    &::after {
      background-color: $white;
    }
  }
}

.reason__text {
  @include reset-mar-pad;

  text-transform: uppercase;

}

.reason__image {
  display: block;
  width: 100%;
  height: 260px;
  // object-fit: cover;
}

/*************************************
 * tablet styles
 *************************************/
@media (min-width: $tablet-width) {
  .reason {
    display: flex;
  }

  .reason__info {
    width: 256px;

    &--triangle {
      background-image: none;
      padding: 0;
    }
  }

  .reason__info-wrapper {
    @include reset-mar-pad;
    width: auto;
    padding: 40px 40px;

    &--gray {
      border: none;
    }

    &--white {
      padding-top: 160px;
      padding-bottom: 65px;
      text-align: center;
    }
  }

  .reason__title {
    &--house {
      &::before {
        width: 75px;
        height: 72px;
        top: -100px;
        left: 50%;
        margin-left: -37.5px;
      }
    }

    &--food {
      &::before {
        width: 77px;
        height: 70px;
        top: -98px;
        left: 50%;
        margin-left: -38.5px;
      }
    }

    &--gift {
      &::before {
        width: 64px;
        height: 76px;
        top: -104px;
        left: 50%;
        margin-left: -37.5px;
      }
    }
  }

  .reason__image {
    height: 256px;
  }
}

/*************************************
 * desktop styles
 *************************************/
@media (min-width: $desktop-width) {
  .reason__info {
    width: 400px;
  }

  .reason__info-wrapper {
    padding: 60px 70px;

    &--white {
      padding-top: 160px;
      padding-bottom: 85px;
      text-align: center;
    }
  }

  .reason__picture-wrapper {
    position: relative;
    width: 800px;
    overflow: hidden;
  }

  .reason__image {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 800px;
    height: auto;
    transform: translate(-50%, -50%);
    // object-fit: cover;
  }

}
