@mixin reset-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

@mixin reset-mar-pad {
  margin: 0;
  padding: 0;
}

@mixin reset-button {
  padding: 0;

  background: none;
  border: transparent;

  cursor: pointer;
}
