.photo-video__gallery {
  margin: 0 auto;
}

/*************************************
 * tablet styles
 *************************************/
@media (min-width: $tablet-width) {
  .photo-video {
    padding-bottom: 36px;
  }
}

/*************************************
 * desktop styles
 *************************************/
@media (min-width: $desktop-width) {
  .photo-video {
    padding-bottom: 60px;
  }
}
