.photo-video {
  width: $mobile-width;
  margin: 0 auto;
}

.photo-video-header {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 40px;
  padding-bottom: 30px;
  text-align: center;
}

.photo-video-header__title {
  margin-bottom: 35px;

  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
}

.photo-video-header__description {
  @include reset-mar-pad;
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
}

/*************************************
 * tablet styles
 *************************************/
@media (min-width: $tablet-width) {

  .photo-video {
    width: $tablet-width;
    margin: 0 auto;
  }

  .photo-video-header {
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 70px;
    padding-bottom: 70px;
  }

  .photo-video-header__title {
    font-size: 30px;
  }

  .photo-video-header__description {
    padding: 0 110px;
  }
}

/*************************************
 * desktop styles
 *************************************/
@media (min-width: $desktop-width) {

  .photo-video {
    width: 100%;
  }

  .photo-video-header {
    padding-left: 120px;
    padding-right: 120px;
  }

  .photo-video-header__description {
    padding: 0 260px;
  }
}
