/* Color palette */

$light-grey-blue: #81b3d2;
$faded-blue: #669ec0;
$cool-blue: #5496bd;
$red: #ff0000;
$greyish-brown: #766357;
$kabul: #604e43;
$black: #000000;
$white: #ffffff;
$black-shaft: #333333;
$gray-iron: #d6d6d6;
$gray-gallery: #eeeeee;
$gray-concrete: #f2f2f2;
$silver-chalice: #b2b2b2;
$black-nevada: #5c6870;
$silver: #b8b8b8;
$silver-c2: #c2c2c2;
$silver-94: #949494;
$gray-gallery-ea: #eaeaea;

$body-bg-color: $gray-concrete;
$main-bg-color: $white;
$gray-mercury-e6: #e6e6e6;
$gray-mercury-e5: #e5e5e5;


/* Sizes */
$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1200px;
$mobile-width-only: 767px;

/* Video player controls */
$color-video-control: $black-nevada;
$color-video-control-hover: $black-shaft;
$color-video-control-active: $silver;
$color-video-bg: $gray-concrete;

$color-video-control-tablet: $white;
$color-video-control-hover-tablet: $silver-c2;
$color-video-control-active-tablet: $silver-94
