.video {
  width: $mobile-width;
  margin: 0 auto;
}

.video__header {
  padding: 35px 20px;

}

.video__title {

  margin-bottom: 35px;

  font-size: 18px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
}

.video__description {


  padding: 0 20px;

  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
}

.video__image {
  display: block;
}

.video__clip {
  position: relative;
  margin: 0 60px;
}

.video__button {
  content: "";
  position: absolute;
  left: calc(50% - 23px);
  bottom: calc(50% - 27px);
  margin: auto;
  background: none;
  border: 46px solid transparent;
  border-top-width: 26px;
  border-bottom-width: 26px;
  border-left-color: rgba(#fff, 70%);
  border-right: 0;
  cursor: pointer;

  &:focus-visible {
    outline: 2px solid #83b3d3;
    outline-offset: 0;
  }
}






/*************************************
* tablet styles
*************************************/
@media (min-width: $tablet-width) {

  .video {
    width: $tablet-width;
    margin: 0 auto;
  }

  .video__header {
    padding: 65px 60px;
  }

  .video__title {
    font-size: 30px;
  }

  .video__description {
    padding-left: 110px;
    padding-right: 110px;
  }

  .video__clip {
    position: relative;
    margin: 0 60px;
  }

  .video__image {
    width: 100%;
  }


}

/*************************************
* desktop styles
*************************************/
@media (min-width: $desktop-width) {
  .video {
    width: $desktop-width;
  }

  .video__header {
    padding: 70px 200px;
  }

  .video__description {
    padding: 0 190px;
  }

  .video__clip {
    width: 800px;
    margin: 0 auto;
  }

}
